net8.0
obj
DesignTimeBuild
FileContentIndex
/FileAPI/.vs/FileAPI/copilot-chat/cafd7948/sessions/48be6fb7-4004-41f8-9a44-f0d3becc76f3
/FileAPI/.vs/FileAPI/copilot-chat/cafd7948/sessions/f0c910d1-2dcd-4778-9a47-a3f415d911f5
/FileAPI/.vs/FileAPI/v17/.futdcache.v2
/FileAPI/.vs/ProjectEvaluation/fileapi.metadata.v7.bin
/FileAPI/.vs/ProjectEvaluation/fileapi.projects.v7.bin
